.model-lookup {
  &__desc {
    margin-top: var(--pf-global--spacer--sm);
    margin-bottom: var(--pf-global--spacer--lg);
  }
}

.model-diagram {
  .pf-c-modal-box__body {
    overflow: hidden;
  }
  &__iframe {
    iframe {
      width: 100%;
      height: 80vh;
    }
  }
}